/* Major Css Style */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  line-height: 150%;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}
h3 {
  font-size: 26px;
}

.uppercase {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.orange {
  color: orange;
}
.neon-pink {
  color: #f535aa;
}
.half-width {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.one-third {
  width: 29.33%;
  margin-left: 2%;
  margin-right: 2%;
}
section {
  padding: 60px 50px;
}
.bold {
  font-weight: 700;
}

/* Header area style */
.header {
  height: 50px;
}
nav {
  width: 90%;
  margin: 0 auto;
}
ul.mainmenu {
  background-color: #f535aa;
  list-style-type: none;
}
ul.mainmenu li {
  display: inline-block;
}
ul.mainmenu li a {
  display: inline-block;
  color: white;
  padding: 17px 26px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

/* Hero Area Css Style  */
.hero-text h1 {
  font-weight: 700;
}
.hero-text p {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 150%;
}
a.btn {
  display: inline-block;
  padding: 18px 33px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(to right, #f535aa, #ff7b68, #ffa754);
  margin-top: 15px;
}
.hero-pic {
  width: 100%;
}
.hero-text {
  padding: 3.5em ​0 0 1em;
}

/* About us area style */
.about-us-area {
  background: url(images/about-bg.jpg) no-repeat center / cover;
  padding-bottom: 0px;
}
.about-pic {
  width: 70%;
  height: 510px;
  object-fit: cover;
  padding-left: 4em;
}
.about-text {
  margin-top: 1.5em;
}
.about-text p {
  font-size: 110%;
  line-height: 150%;
  padding-right: 10%;
}

/* Style fo Food item section */
.food-item-area {
  padding: 80px initial;
}
.food-item-text p {
  padding: 0 20%;
  line-height: 150%;
}
.item-list {
  margin-top: 2.5em;
}
.single-item {
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0px 1px 13px -2px gray;
}
.single-item img {
  border-radius: 15px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.single-item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.single-item p {
  margin-top: 10px;
}

/* Footer section style */
footer {
  background-color: #0a0c16;
  padding: 4em 0;
}

footer h2 {
  color: white;
}
footer h2 span {
  color: #f535aa;
}
footer p {
  color: #fff;
}
